@model List<MVC_StoryBlog.Models.PicHelper>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Article</title>
    <link href="~/Content/css/personalStyleM.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript">
        function Delete(ID) {
            $.messager.confirm('确认对话框', '您确定要删除？', function (r) {
                if (r) {
                    url = "/PersonalBlog/PicDel";

                    paramenter = { id: ID };
                    $.post(url, paramenter, function (data) {
                        //alert("删除成功！");
                        //刷新页面
                        window.location.reload();
                    });
                    
                }
            });
        }


        function Update(ID, desc, name,cID) {
            $('#dd').dialog('open').dialog('setTitle', "修改照片");

            $('#artfrm').form('load', {
                Name: name,
                ID: ID,
                picDescribe: desc,
                picClsTitle:cID,
              
            });

            //$('#cls').val(name);
            //$('#clsid').val(ID);
            //$('#desc').val(desc);
        }

        function btnClose() {

            $('#dd').dialog('close');

        }

        function btnOK() {

            $('#artfrm').form('submit', {
                url: "/PersonalBlog/PicUpdate",
                onSubmit: function () {
                    // do some check    
                    // return false to prevent submit; 
                    return $(this).form('validate');
                },
                success: function (data) {
                    var result = eval('(' + data + ')');
                    if (result.ok) {
                        //刷新页面
                        //$.messager.alert("提示！", "修改成功！");
                        window.location.reload();
                    }

                }
            });

        }

    </script>

</head>
<body>


    <table id="atb" cellspacing="0">
        <tr>

            <th class="th3">照片名</th>
            <th class="th2">描述</th>
            <th class="th3">所属相册</th>
            <th class="th3">创建时间</th>
            <th class="th4">操作</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <td class="th3">
                    <a href="#">《@item.Name》</a>
                </td>

                <td class="th2">@item.picDescribe</td>
                <td class="th3">
                    @item.picClsTitle
                </td>
                <td class="th3">
                    @item.picCreateTime.ToShortDateString()
                </td>
                <td class="th4">
                    <a href="#" onclick="Update(@item.ID,'@item.picDescribe','@item.Name','@item.PicClsID')" >修改</a>丨 <a href="#" onclick="Delete(@item.ID)">删除</a></td>
            </tr> 
        }

    </table>

    <div id="dd" class="easyui-dialog" style="width: 252px; height: 260px;"
        data-options="iconCls:'icon-edit',resizable:true,modal:true,closed:true,buttons:'#bb',resizable:false,">
        <form id="artfrm">

            <p>
                <input type="text" id="clsid" name="ID" style="display: none" />
            </p>
            <p style="margin: 10px;">
                照片名：
                <input id="cls" name="Name" class="easyui-validatebox" data-options="required:true,validType:'minLength[5]'">
            </p>
            <p style="margin: 10px;">
                所属相册：
              <input id="cc" class="easyui-combobox" name="picClsTitle"
                  data-options="valueField:'ID',textField:'picClsTitle',url:'/mypicture/SelectPicCls'" />
            </p>
            <p style="margin: 10px;">描述：</p>
            <p style="margin: 10px;">
                <textarea id="desc" name="picDescribe" style="height: 65px; width: 210px;"> </textarea>
            </p>

        </form>
    </div>

    <div id="bb">
        <a href="#" class="easyui-linkbutton" onclick="btnOK()">保存</a>
        <a href="#" class="easyui-linkbutton" onclick="btnClose()">关闭</a>
    </div>

    <script type="text/javascript">


    </script>
</body>
</html>


